#firstHeading {
	display: none;
}

.profile-avatar {
	height: 150px;
	width: 150px;
	position: relative;
	margin-right: 20px;
}

.profile-avatar-image {
	border: 2px solid grey;
	border-radius: @userprofile-avatar-border-radius;
	height: 138px;
	object-fit: cover;
	width: 138px;
}

.profile-information {
	flex: 1;
}

.profile-wrapper {
	position: relative;
}

.profile-identitybox {
	display: flex;
	margin-bottom: 25px;
}

.profile-header {
	display: flex;
	width: 100%;
	align-items: center; /* Ensure alignment */
}

.profile-header-attributes {
	width: 100%;
}

.profile-header-attributes > h1,
.profile-header-attributes > h2 {
	display: inline-block; /* Make elements inline-block */
	vertical-align: middle; /* Align text vertically */
}

.profile-header-attributes > h1 {
	font-family: "Helvetica", "Arial", sans-serif !important;
	font-size: 28px;
	font-weight: 700;
	margin: 0 6px 0 0;
	padding: 0;
	border-bottom: 0;
}

.profile-header-attributes > h2 {
	border: 0;
	font-size: 20px;
	font-weight: 400;
	margin: 0 12px 0 0;
	padding: 0;
	vertical-align: middle;
	font-family: "Helvetica", "Arial", sans-serif !important;
}

.profile-user-group {
	margin-top: 12px;
	background-color: @userprofile-secondary;
	border-radius: 3px;
	display: inline-block;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.5;
	margin-right: 12px;
	padding: 3px 8px;

}

.profile-header-statistics {
	font-size: 14px;
	font-stretch: normal;
	font-style: normal;
	font-weight: 400;
	letter-spacing: .28px;
	line-height: normal;
	list-style-type: none;
	margin: 12px 0 !important;
	text-transform: uppercase;
}

.profile-header-statistics li {
	display: inline-block;
	margin: 0;
}
